<!doctype html>
{% macro render_field(field) %}
  {%- if field.type == "Heading" -%}
      {{-field(**kwargs)|safe-}}
  {%- else -%}
      <dt>{%- if field.name != "submit" -%}{{- field.label -}}{%- endif -%}</dt>
      <dd>{{ field(**kwargs)|safe }}
      {% if field.errors %}
        <ul class=errors>
        {% for error in field.errors %}
          <li>{{ error }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      </dd>
  {%- endif -%}
{% endmacro %}
<html>
<head>
    <title>Randomizer!</title>
    <style>

dt {/*font-weight:bold;*/ float:left; width:30%; clear:left;}
dt::after {content:'';}

#options {border: 1px solid #aaa; padding:6px;}

footer {border-top: 1px solid #aaa; margin-top:12px; padding-top:6px;}


    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>

var games = {{games_json | safe}}
var curgame

function render_options(gameid) {
    console.log(gameid)
    curgame = gameid
    for (gameid_ in games) {
        $("#options-"+gameid_).hide()
    }
    $("#options-"+gameid).show()
    $("#options_controls").show()
    $("#controls").show()
}

function generate() {
    $("#btn-generate").hide()
    $("#generating").show()
    $("#generating").html('Hold on!')
    $.post('/generate', $("#form-"+curgame+", #filename").serialize(), generated, 'json').fail(oops)
}

function generated(data) {
    if (data.cooldown) {
        $("#btn-generate").show()
        $("#generating").html("Please wait " + Math.round(data.cooldown) + " more seconds before requesting a ROM.")
    } else {
        $("#generating").html("Randomized ROM generated in "+ (Math.round(data.time*100)/100) +"s! <a href='"+data.filename+"'>Download</a><br>Link for sharing with friends: <code>"+data.filename+"</code>")
    }
}
function oops(x) {
    $("#generating").html("Oops, something went wrong :(")
}

$(document).ready(function(){
    for (gameid in games) {
        $('#btn-'+gameid).click(function() {render_options(this.getAttribute('data-game')) })
    }
    $('#btn-select-all').click(function() { $('#options input').prop('checked', true)})
    $('#btn-select-none').click(function() { $('#options input').prop('checked', false)})
    $('#btn-generate').click(generate)
})
    </script>
</head>
<body>
    <h1>Online Randomizer</h1>
    <h2>Pick a game:</h2>
    <div id="games">
        {% for game in games %}
            <button data-game="{{game.identifier}}" id="btn-{{game.identifier}}">{{game.name}}</button>
        {% endfor %}
    </div>
    <div id="options_controls" style="display:none;">
        <h2>Pick some options:</h2>
        <button id="btn-select-all">Select all</button><button id='btn-select-none'>Select none</button>
    </div>
    <div id="options">
        {% for game in games %}
            <div id="options-{{game.identifier}}" style="display:none;">
                <form id="form-{{game.identifier}}">
                    <input type="hidden" name="game" value="{{game.identifier}}">
                    <dl>
                    {% for field in game.Form() %}
                        {{ render_field(field) }}
                    {% endfor %}
                    </dl>
                </form>
            </div>
        {% endfor %}
    </div>
    <div id="controls" style="display:none;">
        Custom filename: <input type="text" id="filename", name="filename"> (not yet)<br>
        <button id="btn-generate">Generate</button>
        <div id="generating" style="display:none;"></div>
    </div>
    <footer>
        <h3>Gen 1 Style Sprite Credits</h3>
        <ul>
            <li><a href="http://project-rbydex.deviantart.com/">Project-RBYDex</a>
            <li><a href="http://chickenmcfuckit.deviantart.com/">chickenmcfuckit</a>
            <li><a href="https://twitter.com/Karmaverick">Karmaverick</a>
            <li><a href="http://tinyurl.com/4poyc6x">Behold3r</a>
            <li><a href="http://involuntary-twitch.deviantart.com/">Involuntary-Twitch</a>
            <li><a href="http://racieb.deviantart.com/">RacieB</a>
            <li><a href="http://mylittlekeldeo.deviantart.com/">mylittlekeldeo</a>
            <li><a href="#">Sanqui</a>
            <li><a href="http://solo993.deviantart.com/">solo993</a>
            <li>Other Gen 2-5 sprites done mostly by anons of /vp/.<br><small>See credits on <a href="http://www.tehowners.com/info/Non-Informative/Pokemon%20Sprites%20in%20Gen%201%20Style%20.png">this sheet</a>.  Plaese note that many of the sprites presented there are not in use.</small>
        </ul>
        <p>Huge thanks to everybody for their contributions!
        <p>Randomizer by Sanqui.
        <p><small>You <b>may not</b> publically post links to ROMs generated by this randomizer online.</small>
    </footer>
</body>
</html>




